* {
    margin: 0;
    pad: 0;
    box-sizing: border-box;
    /* font-family: Poppins, sans-serif; */
}

body {
    min-height: 100dvh;
    display: grid;
    place-items: center;
    background: #ebebf6;
}

.container {
    display: flex;
    gap: 20px;

}

.container a {
    background-color: #fff;
    padding: 1em;
    border-radius: 50%;
    height: 64px;
    width: 64px;
    flex-shrink: 0;
    display: grid;
    place-items: center;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .05);
}

.container a svg {
    height: 32px;
}

.container a::before {
    content: attr(data-social);
    position: absolute;
    background-color: var(--accent-color);
    color: white;
    text-decoration: none;
    padding: 0.5em 1em;
    border-radius: 100px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
    transform: translateY(-30px) rotate(25deg);
    opacity: 0;
    transition: 200ms cubic-bezier(0.42,0, .44, 1.68);
}

.container a:hover {
    background-color: var(--accent-color);
    fill: white;
}

.container a::after {
    content: " ";
    position: absolute;
    height: 0;
    width: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 10px solid var(--accent-color);
    transform: translateY(0) rotate(25deg);
    opacity: 0;
    transition: 200ms cubic-bezier(0.42,0, .44, 1.68);
}

.container a:hover::before {
    transform: translateY(-65px) rotate(0);
    opacity: 1;
}

.container a:hover::after {

    transform: translateY(-44px) rotate(0);
    opacity: 1;

}